.map {
  height: 92.8vh;
  z-index: -1;
}
.demandsMap {
  position: relative;
}
.infoLayer_1 {
  width: 100%;
  height: 100px;
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 10px 10px 10px 10px;
}
.infoLayer_2 {
  width: 100%;
  height: 40px;
  z-index: 0;
  position: absolute;
  left: 0px;
  top: 50vh;
  padding: 0 10px 0 10px;
}
.totalDemands {
  height: 100%;
  background-color: #e94f4f;
  border-radius: 8px;
  color: white;
  padding: 10px;
  box-shadow: 0 0 20px grey;
}
.totalDemands .title {
  text-align: left;
  font-size: 18px;
  margin-bottom: 6px;
}
/*学习*/
.totalDemands .items {
  height: 34px;
  line-height: 17px;
  font-size: 12px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.totalDemands .items .item {
  width: 20%;
  height: 34px;
  display: inline-block;
  padding: 0 3px 0 3px;
}
.totalDemands .items .item:not(:last-child) {
  border-right: dotted rgba(255, 255, 255, 0.3) 1px;
}

.totalDemands .items .item .name{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  
  /* 让省略符显示在文本左侧 */
  direction: rtl;
}

.notices {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #e94f4f;
  border-radius: 6px;
  color: white;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 20px grey;
}
.notices .icon {
  width: 30px;
  height: 40px;
  margin-right: 5px;
}
.notices .icon img{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.notices .link {
  width: 20px;
  height: 20px;
}
.notices .link img{
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.notices .content {
  flex: 1;
  text-align: left;
}
.hospitalInfo {
  margin-top: 10px;
  width: 100%;
  height: 35vh;
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0 20px white;
}
.hospitalInfo .title {
  height: 30px;
  line-height: 30px;
  display: flex;
  margin-bottom: 10px;
  /*background-color: red;*/
}
.hospitalInfo .title .name {
  flex: 1;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: left;
  opacity: .8;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.hospitalInfo .title img {
  width: 20px;
  height: 20px;
}
.hospitalInfo .link {
  width: 30px;
  height: 30px;
}
.hospitalInfo .contact {
  height: 75px;
}
  
.hospitalInfo .contact .top{
  height: 50px;
  display: flex;
  justify-content: center;
}
.hospitalInfo .contact .bottom{
  height: 25px;
  line-height: 25px;
  text-align: left;
  opacity: .6;
}
.hospitalInfo .contact .top .left{
  flex: 3;
  height: 50px;
}
.hospitalInfo .contact .top .right{
  flex: 1;
  line-height: 20px;
  color: white;
}

.hospitalInfo .contact .top .right>div{
  height: 20px;
  margin-bottom: 5px;
  padding: 0 5px 0 5px;
  border-radius: 15px;
  background-color: #e94f4f;
}

.hospitalInfo .contact .top .right>div>a{
  text-decoration:none;
  color:white;
}

.hospitalInfo .contact .top .left .name{
  height: 25px;
  line-height: 25px;
  text-align: left;
  opacity: .6;
}
.hospitalInfo .contact .top .left .phone{
  height: 25px;
  line-height: 25px;
  text-align: left;
}
.hospitalInfo .contact .top .left .phone .phoneTitle{
  opacity: 0.6;
}
.hospitalInfo .contact .top .left .phone .phoneNumber{
  color: #e94f4f;
  opacity: 1;
  font-weight: bold;
}
.hospitalInfo .contact .bottom {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap; 
}
.demands {
  height: 80px;
  margin-top: 10px;
  padding-top: 10px;
  text-align: left;
  opacity: 0.6;
  line-height: 20px;
  border-top: solid rgba(0, 0, 0, 0.1) 1px;
}
