.list_view {
}
.list-view-section-body {
  background-color: "#f5f5f9";
}

.hospital-card {
  margin: 10px 10px;
}

.card-supplies {
  width: 50%;
  float: left;
  text-align: center;
}

.card-supplies-name {
  color: gray;
  font-size: 12px;
  line-height: 16px;
}

.card-supplies-number {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-action-icon {
  display: block;
  width: 20%;
  margin: 0 auto;
}
